
.hero-section {
  background-image: url("../Assets/QuranHero.jpg");
  background-position: center;
  background-size: cover;
}
.chapter-card {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.card-content {
  display: flex;
  gap: 1rem;
  color: #fff;

  cursor: pointer;
}
.primary-btn {
  color: #fff;
  cursor: pointer;
  margin: 0rem 0rem 1rem 0.7rem;
  display: flex;
  gap: 0.3rem;
}
/* ************* */
/*     USER      */
/* ************* */
.user-heading {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #fff;
}
.user {
  text-transform: capitalize;
  font-style: italic;
  color: #00366f;
}

