.chapter-card{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.user-heading{
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
.user{
  text-transform: capitalize;
  font-style: italic;
  color: blue;
}